<!DOCTYPE html>
<html>
<head><title>Đăng ký</title><link rel="stylesheet" href="/style.css"></head>
<body><div class="container">
<h2>Đăng ký</h2>
<form method="POST" action="/register">
    <input type="text" name="username" placeholder="Username" required /><br>
    <input type="password" name="password" placeholder="Password" required /><br>
    <div class="centered">
      <button type="submit">Đăng ký</button>
    </div>
</form>
<div class="centered">
  <p>Đã có tài khoản? <a href="/login">Đăng nhập</a></p>
</div>
</div></body></html>